@page "/"

<PageTitle>Lights Controller - Planeta Manas</PageTitle>

<center>
    <h1>Lights Controller - Planeta Manas</h1>
    <br/>
    <br/>
    <MudContainer>
        <h2>Strobe</h2>
        <MudGrid>
            <MudItem xs="3">
                <MudSlider ValueChanged="@((double x) => SendDmx(1, x))">Red</MudSlider>
            </MudItem>
            <MudItem xs="3">
                <MudSlider ValueChanged="@((double x) => SendDmx(2, x))">Green</MudSlider>
            </MudItem>
            <MudItem xs="3">
                <MudSlider ValueChanged="@((double x) => SendDmx(3, x))">Blue</MudSlider>
            </MudItem>
            <MudItem xs="3">
                <MudSlider ValueChanged="@((double x) => SendDmx(4, x))">White</MudSlider>
            </MudItem>
            <MudItem xs="3">
                <MudSlider ValueChanged="@((double x) => SendDmx(5, x))">Brightness</MudSlider>
            </MudItem>
            <MudItem xs="3">
                <MudSlider ValueChanged="@((double x) => SendDmx(6, x))">Strobe</MudSlider>
            </MudItem>
            <MudItem xs="3">
                <MudSlider ValueChanged="@((double x) => SendDmx(7, x))">Switch</MudSlider>
            </MudItem>
            <MudItem xs="3">
                <MudSlider ValueChanged="@((double x) => SendDmx(8, x))">Speed</MudSlider>
            </MudItem>
        </MudGrid>
    </MudContainer>
    <br/>
    <br/>
    <MudContainer>
        <h2>Par</h2>
        <MudGrid>
            <MudItem xs="3">
                <MudSlider ValueChanged="@((double x) => SendDmx(9, x))">Brightness</MudSlider>
            </MudItem>
            <MudItem xs="3">
                <MudSlider ValueChanged="@((double x) => SendDmx(10, x))">Strobe</MudSlider>
            </MudItem>
            <MudItem xs="3">
                <MudSlider ValueChanged="@((double x) => SendDmx(11, x))">UV</MudSlider>
            </MudItem>
            <MudItem xs="3">
                <MudSlider ValueChanged="@((double x) => SendDmx(12, x))">Audio</MudSlider>
            </MudItem>
        </MudGrid>
    </MudContainer>
    <br/>
    <br/>
    <MudContainer>
        <h2>Bar 1</h2>
        <MudGrid>
            <MudItem xs="4">
                <MudSlider ValueChanged="@((double x) => SendDmx([17, 23, 29, 35, 41, 47, 53, 59], x))">Brightness</MudSlider>
            </MudItem>
            <MudItem xs="4">
                <MudSlider ValueChanged="@((double x) => SendDmx([18, 24, 30, 36, 42, 48, 54, 60], x))">Strobe</MudSlider>
            </MudItem>
            <MudItem xs="4">
                <MudSlider ValueChanged="@((double x) => SendDmx([22, 28, 34, 40, 46, 52, 58, 64], x))">Macro</MudSlider>
            </MudItem>
            <MudItem xs="4">
                <MudSlider ValueChanged="@((double x) => SendDmx([19, 25, 31, 37, 43, 49, 55, 61], x))">Red</MudSlider>
            </MudItem>
            <MudItem xs="4">
                <MudSlider ValueChanged="@((double x) => SendDmx([20, 26, 32, 38, 44, 50, 56, 62], x))">Green</MudSlider>
            </MudItem>
            <MudItem xs="4">
                <MudSlider ValueChanged="@((double x) => SendDmx([21, 27, 33, 39, 45, 51, 57, 63], x))">Blue</MudSlider>
            </MudItem>
        </MudGrid>
    </MudContainer>
    <br/>
    <br/>
    <MudContainer>
        <h2>Bar 2</h2>
        <MudGrid>
            <MudItem xs="4">
                <MudSlider ValueChanged="@((double x) => SendDmx([65, 71, 77, 83, 89, 95, 101, 107], x))">Brightness</MudSlider>
            </MudItem>
            <MudItem xs="4">
                <MudSlider ValueChanged="@((double x) => SendDmx([66, 72, 78, 84, 90, 96, 102, 108], x))">Strobe</MudSlider>
            </MudItem>
            <MudItem xs="4">
                <MudSlider ValueChanged="@((double x) => SendDmx([70, 76, 82, 88, 94, 100, 106, 112], x))">Strobe</MudSlider>
            </MudItem>
            <MudItem xs="4">
                <MudSlider ValueChanged="@((double x) => SendDmx([67, 73, 79, 85, 91, 97, 103, 109], x))">Red</MudSlider>
            </MudItem>
            <MudItem xs="4">
                <MudSlider ValueChanged="@((double x) => SendDmx([68, 74, 80, 86, 92, 98, 104, 110], x))">Green</MudSlider>
            </MudItem>
            <MudItem xs="4">
                <MudSlider ValueChanged="@((double x) => SendDmx([69, 75, 81, 87, 93, 99, 105, 111], x))">Blue</MudSlider>
            </MudItem>
        </MudGrid>
    </MudContainer>
</center>

@code {

    public void SendDmx(int addr, double val)
    {
        Osc.Send("/dmx" + addr, new object[] { val / 100 });
    }

    public void SendDmx(int[] addr, double val)
    {
        Osc.Send("/dmx" + addr, new object[] { val / 100 });
    }

// Strobe 1-8
// 1 -   Red
// 2 -   Green
// 3 -   Blue
// 4 -   White
// 5 -   Brightness
// 6 -   Strobe
// 7 -   Sine Switch
// 8 -   Sine Speed

// Par 9-12
// 9 -   Brightness
// 10 -  Strobe
// 11 -  UltraViolet
// 12 -  Audio Reactive

// Bar1 17 - 64
// 17 -  P1 Brightness
// 18 -  P1 Strobe
// 19 -  P1 Red
// 20 -  P1 Green
// 21 -  P1 Blue
// 22 -  P1 Feira
// 23 -  P2 Brightness
// 24 -  P2 Strobe
// 25 -  P2 Red
// 26 -  P2 Green
// 27 -  P2 Blue
// 28 -  P2 Feira
// 29 -  P3 Brightness
// 30 -  P3 Strobe
// 31 -  P3 Red
// 32 -  P3 Green
// 33 -  P3 Blue
// 34 -  P3 Feira
// 35 -  P4 Brightness
// 36 -  P4 Strobe
// 37 -  P4 Red
// 38 -  P4 Green
// 39 -  P4 Blue
// 40 -  P4 Feira
// 41 -  P5 Brightness
// 42 -  P5 Strobe
// 43 -  P5 Red
// 44 -  P5 Green
// 45 -  P5 Blue
// 46 -  P5 Feira
// 47 -  P6 Brightness
// 48 -  P6 Strobe
// 49 -  P6 Red
// 50 -  P6 Green
// 51 -  P6 Blue
// 52 -  P6 Feira
// 53 -  P7 Brightness
// 54 -  P7 Strobe
// 55 -  P7 Red
// 56 -  P7 Green
// 57 -  P7 Blue
// 58 -  P7 Feira
// 59 -  P8 Brightness
// 60 -  P8 Strobe
// 61 -  P8 Red
// 62 -  P8 Green
// 63 -  P8 Blue
// 64 -  P8 Feira

// Bar2 65-112
// 65 -  P1 Brightness
// 66 -  P1 Strobe
// 67 -  P1 Red
// 68 -  P1 Green
// 69 -  P1 Blue
// 70 -  P1 Feira
// 71 -  P2 Brightness
// 72 -  P2 Strobe
// 73 -  P2 Red
// 74 -  P2 Green
// 75 -  P2 Blue
// 76 -  P2 Feira
// 77 -  P3 Brightness
// 78 -  P3 Strobe
// 79 -  P3 Red
// 80 -  P3 Green
// 81 -  P3 Blue
// 82 -  P3 Feira
// 83 -  P4 Brightness
// 84 -  P4 Strobe
// 85 -  P4 Red
// 86 -  P4 Green
// 87 -  P4 Blue
// 88 -  P4 Feira
// 89 -  P5 Brightness
// 90 -  P5 Strobe
// 91 -  P5 Red
// 92 -  P5 Green
// 93 -  P5 Blue
// 94 -  P5 Feira
// 95 -  P6 Brightness
// 96 -  P6 Strobe
// 97 -  P6 Red
// 98 -  P6 Green
// 99 -  P6 Blue
// 100 - P6 Feira
// 101 - P7 Brightness
// 102 - P7 Strobe
// 103 - P7 Red
// 104 - P7 Green
// 105 - P7 Blue
// 106 - P7 Feira
// 107 - P8 Brightness
// 108 - P8 Strobe
// 109 - P8 Red
// 110 - P8 Green
// 111 - P8 Blue
// 112 - P8 Feira
}